.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  background-image: url("/src/assets/kart-bg-login.png");
  background-size: cover;
  background-position: center;
  font-family: "Press Start 2P", cursive;
}

.login-page .form-container {
  width: 40%;
  max-width: 400px;
  background: white;
  padding: 2rem;
  border: 5px dashed #333;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.login-page .form-container:hover {
  transform: scale(1.02);
}

.login-page .form-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #cc0000;
  text-align: center;
}

.login-page .form-container form {
  display: flex;
  flex-direction: column;
}

.login-page .form-container form label {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #444;
}

.login-page .form-container form input {
  padding: 0.75rem;
  border-radius: 10px;
  border: 2px solid #888;
  font-size: 1rem;
  color: #444;
}

.login-page .form-container form input:focus {
  border-color: #ff6600;
  outline: none;
}

.login-page .form-container form button {
  margin-top: 2rem;
  padding: 1rem;
  background: #ff6600;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px #cc3300;
  transition: background-color 0.3s ease;
}

.login-page .form-container form button:hover {
  background: #e65500;
}

.login-page .form-container form button:active {
  transform: translateY(2px);
  box-shadow: 0 2px #cc3300;
}

.login-page .login-form {
  background: #fff8dccc;
}

.login-page .register-form {
  background: #fff8dccc;
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/* Nouveau style pour le bouton GO ! */
.go-button {
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px #cc3300;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.go-button:hover {
  background-color: #e65500;
}

.go-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px #cc3300;
}
