.animation {
  background: url("./src/assets/circuit.png");
  background-size: cover;

  height: 38vw;
  width: 38vw;
}
.kart {
  transition: top 0.8s ease, left 0.8s ease, transform 0.8s ease;
  position: absolute; /* Important pour les animations */
  height: 8%;
  width: 8%;
}
